<div class="sol-frame">
    <div class="nav">

        <div class="logo">
            <img src="" alt="">
        </div>
        <ul>
            <li>
                <a ui-sref="profil">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="512px" height="512px">
                        <path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951  c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319  c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056  v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309  c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043  C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164  l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22  C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021  C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298  C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713  c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776  C49.513,45.874,51,48.28,51,50.957V54z"
                            fill="#FFFFFF" />
                        <g>
                    </svg>
                    PROFİL
                </a>
            </li>
            <li>

                <a ui-sref="kategoriler">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px">
                        <g>
                            <path d="M208,0H16C7.163,0,0,7.163,0,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V16C224,7.163,216.837,0,208,0z      M192,192H32V32h160V192z"
                                fill="#FFFFFF" />
                            <path d="M496,0H304c-8.837,0-16,7.163-16,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V16     C512,7.163,504.837,0,496,0z M480,192H320V32h160V192z"
                                fill="#FFFFFF" />
                            <path d="M208,288H16c-8.837,0-16,7.163-16,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V304     C224,295.163,216.837,288,208,288z M192,480H32V320h160V480z"
                                fill="#FFFFFF" />
                            <path d="M496,288H304c-8.837,0-16,7.163-16,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V304     C512,295.163,504.837,288,496,288z M480,480H320V320h160V480z"
                                fill="#FFFFFF" />
                        </g>
                    </svg>
                    KATEGORİLER
                </a>

            </li>
            <li>
                <a ui-sref="urunler">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3025 313 22.778 24.741">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <g id="package" transform="translate(-3043.8 313)">
                            <path id="Path_6" data-name="Path 6" class="cls-1" d="M41.567,5.833a.648.648,0,0,0-.063-.277.605.605,0,0,0-.423-.334L30.445.063a.631.631,0,0,0-.548,0L19.155,5.269a.629.629,0,0,0-.355.543V18.9a.622.622,0,0,0,.355.564L29.9,24.673c.005,0,.005,0,.01.005a.185.185,0,0,1,.047.021c.005,0,.01.005.021.005l.047.016c.005,0,.01.005.016.005s.037.005.052.01h.016c.021,0,.047.005.068.005a.3.3,0,0,0,.068-.005h.016a.185.185,0,0,0,.052-.01c.005,0,.01-.005.016-.005l.047-.016c.005,0,.01-.005.021-.005a.185.185,0,0,0,.047-.021c.005,0,.005,0,.01-.005l10.773-5.222a.632.632,0,0,0,.355-.564V5.849C41.567,5.843,41.567,5.838,41.567,5.833Zm-11.4-4.512,9.316,4.517L36.053,7.5,26.737,2.987Zm0,9.034L20.852,5.838,25.3,3.681,34.617,8.2ZM20.053,6.846l9.488,4.6v11.66l-9.488-4.6ZM30.795,23.107V11.446l4.454-2.162v3.05a.627.627,0,0,0,1.253,0V8.674l3.812-1.849v11.66Z"
                            />
                        </g>
                    </svg>

                    ÜRÜNLER
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-body">
    <div class="container">
        <div class="row">
            <h2>Ürün Ekle</h2>

            <div  id="urunler">
                <h3>{{formmesaj}}</h3>
                <form>
                    <div class="col-sm-3">
                        <h4> Ürün Genel </h4>
                        <hr>
                        <div class="form-group">
                            <label for="pName">Ürün Adı:</label>
                            <input type="text" class="form-control" id="pName" ng-model="pName" [required="string" ]>
                        </div>
                        <div class="form-group">
                            <label for="pShortDescription">Ürün Kısa Açıklama:</label>
                            <input type="text" class="form-control" id="pShortDescription" ng-model="pShortDescription">
                        </div>
                        <div class="form-group">
                            <label for="pFullDescription">Ürün Tam Açıklama:</label>
                            <textarea type="text" class="form-control" id="pFullDescription" ng-model="pFullDescription"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <h4> &nbsp </h4>
                        <hr>
                        <div class="form-group">
                            <label for="pQuantity">Adet:</label>
                            <input mask="9" repeat="6" type="text" class="form-control" id="pQuantity" ng-model="pQuantity">
                        </div>
                        <div class="form-group">
                            <label for="pBarcode">Barkod:</label>
                            <input type="text" class="form-control" id="pBarcode" ng-model="pBarcode">
                        </div>
                        <div class="form-group">
                            <label for="pStockCode">Stok Kod:</label>
                            <input type="text" class="form-control" id="pStockCode" ng-model="pStockCode">
                        </div>
                        <div class="form-group">
                            <label for="pSku">SKU:</label>
                            <input type="text" class="form-control" id="pSku" ng-model="pSku">
                        </div>
                        <div class="form-group">
                            <label for="pBrandName">Marka:</label>
                            <input type="text" class="form-control" id="pBrandName" ng-model="pBrandName">
                        </div>
                        <div class="form-group">
                            <label for="pBrandCode">Marka Kod:</label>
                            <input type="text" class="form-control" id="pBrandCode" ng-model="pBrandCode">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <h4> &nbsp </h4>
                        <hr>
                        <div class="form-group">
                            <label for="pWeight">Ağırlık:</label>
                            <input mask="9" repeat="3" required type="text" class="form-control" id="pWeight" ng-model="pWeight">
                        </div>
                        <div class="form-group">
                            <label for="pLength">Uzunluk:</label>
                            <input mask="9" repeat="3" required type="text" class="form-control" id="pLength" ng-model="pLength">
                        </div>
                        <div class="form-group">
                            <label for="pWidth">Genişlik:</label>
                            <input mask="9" repeat="3" required type="text" class="form-control" id="pWidth" ng-model="pWidth">
                        </div>
                        <div class="form-group">
                            <label for="pHeight">Yükseklik:</label>
                            <input mask="9" repeat="3" required type="text" class="form-control" id="pHeight" ng-model="pHeight">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <h4> Ürün Fiyatları </h4>
                        <hr>
                        <div class="form-group">
                            <label for="pPrice">Fiyat:</label>
                            <input currency-mask mask="999,999,999" type="text" class="form-control" id="pPrice" ng-model="pPrice">
                        </div>
                        <div class="form-group">
                            <label for="pSalePrice">Satış Fiyatı:</label>
                            <input currency-mask mask="999,999,999" type="text" class="form-control" id="pSalePrice" ng-model="pSalePrice">
                        </div>
                        <div class="form-group">
                            <label for="pCurrency"> Para Birimi:</label>
                            <!-- <input type="text" class="form-control" id="pCurrency" ng-model="pCurrency"> -->
                            <select class="form-control" id="pCurrency" ng-model="pCurrency" ng-model="pLists">
                                <option selected value="TL">
                                    TL
                                </option>
                                <option value="USD">
                                    USD
                                </option>
                                <option value="EUR">
                                    EUR
                                </option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pSaleEndDate"> Satış Bitiş Tarihi:</label>
                            <input type="date" class="form-control" id="pSaleEndDate" ng-model="pSaleEndDate">
                        </div>

                        <div class="form-group">
                            <label for="pSaleStartDate"> Satış Başlangıç Tarihi:</label>
                            <input type="date" class="form-control" id="pSaleStartDate" ng-model="pSaleStartDate">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <h4> Ürün Varyantları </h4>
                        <hr>

                        <label> Ürün Kategori: </label>

                        <div class="form-group">
                            <select class="form-control" ng-model="pLists">
                                <option value="{{list.id}}" ng-repeat="list in allLists">
                                    {{list.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">

                            <label>Ürün Attr {{attrselected.selected}}</label>
                            <div id="attrAarea">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="attrselect" ng-change="getAttrValues()">
                                            <option value="{{options}}" ng-repeat="options in allAttr">
                                                {{options.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-show="options" ng-model="attrselectvalue" ng-change="test()">
                                            <option value="{{i}}" ng-repeat="i in selectedAttr">
                                                {{i.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <button type="submit" ng-click="newList()" class="btn btn-success" style="float:right">Kaydet</button>
                        </div>
                    </div>
                </form>


                <a id="ozellikEkle" ui-sref="ozellikler">Özellik Ekle</a>

            </div>
        </div>
    </div> 
</div>