<div class="sol-frame">
    <div class="nav">

        <div class="logo">
            <img src="" alt="">
        </div>
        <ul>
            <li>
                <a ui-sref="profil">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="512px" height="512px">
                        <path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951  c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319  c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056  v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309  c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043  C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164  l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22  C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021  C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298  C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713  c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776  C49.513,45.874,51,48.28,51,50.957V54z"
                            fill="#FFFFFF" />
                        <g>
                    </svg>
                    PROFİL
                </a>
            </li>
            <li>

                <a ui-sref="kategoriler">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px">
                        <g>
                            <path d="M208,0H16C7.163,0,0,7.163,0,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V16C224,7.163,216.837,0,208,0z      M192,192H32V32h160V192z"
                                fill="#FFFFFF" />
                            <path d="M496,0H304c-8.837,0-16,7.163-16,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V16     C512,7.163,504.837,0,496,0z M480,192H320V32h160V192z"
                                fill="#FFFFFF" />
                            <path d="M208,288H16c-8.837,0-16,7.163-16,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V304     C224,295.163,216.837,288,208,288z M192,480H32V320h160V480z"
                                fill="#FFFFFF" />
                            <path d="M496,288H304c-8.837,0-16,7.163-16,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V304     C512,295.163,504.837,288,496,288z M480,480H320V320h160V480z"
                                fill="#FFFFFF" />
                        </g>
                    </svg>
                    KATEGORİLER
                </a>

            </li>
            <li>
                <a ui-sref="urunler">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3025 313 22.778 24.741">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <g id="package" transform="translate(-3043.8 313)">
                            <path id="Path_6" data-name="Path 6" class="cls-1" d="M41.567,5.833a.648.648,0,0,0-.063-.277.605.605,0,0,0-.423-.334L30.445.063a.631.631,0,0,0-.548,0L19.155,5.269a.629.629,0,0,0-.355.543V18.9a.622.622,0,0,0,.355.564L29.9,24.673c.005,0,.005,0,.01.005a.185.185,0,0,1,.047.021c.005,0,.01.005.021.005l.047.016c.005,0,.01.005.016.005s.037.005.052.01h.016c.021,0,.047.005.068.005a.3.3,0,0,0,.068-.005h.016a.185.185,0,0,0,.052-.01c.005,0,.01-.005.016-.005l.047-.016c.005,0,.01-.005.021-.005a.185.185,0,0,0,.047-.021c.005,0,.005,0,.01-.005l10.773-5.222a.632.632,0,0,0,.355-.564V5.849C41.567,5.843,41.567,5.838,41.567,5.833Zm-11.4-4.512,9.316,4.517L36.053,7.5,26.737,2.987Zm0,9.034L20.852,5.838,25.3,3.681,34.617,8.2ZM20.053,6.846l9.488,4.6v11.66l-9.488-4.6ZM30.795,23.107V11.446l4.454-2.162v3.05a.627.627,0,0,0,1.253,0V8.674l3.812-1.849v11.66Z"
                            />
                        </g>
                    </svg>

                    ÜRÜNLER
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-body">
    <div class="row" id="kategoriler">

        <div class="col-sm-12">
            <div style="position:relative;width: 90%; margin: 0 auto;">
                <h3><i class="ion-social-buffer-outline"></i> Yeni Kategori Ekle</h3>
                <div class="loader" ng-show="load">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38">
                        <defs>
                            <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                                <stop stop-color="#fff" stop-opacity="0" offset="0%" />
                                <stop stop-color="#fff" stop-opacity=".631" offset="63.146%" />
                                <stop stop-color="#fff" offset="100%" />
                            </linearGradient>
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <g transform="translate(1 1)">
                                <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2" transform="rotate(294.005 18 18)">
                                    <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"
                                    />
                                </path>
                                <circle fill="#fff" cx="36" cy="18" r="1" transform="rotate(294.005 18 18)">
                                    <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite"
                                    />
                                </circle>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="btnGroup">
                    <a  ui-sref="kategoriler"> <i class="ion-android-arrow-back"></i> Kategorileri Gör </a>
                </div>

                <div id="form">

                    <div class="form-group">
                        <label for="newName">Kategori Adı:</label>
                        <input type="text" class="form-control" id="newName" ng-model="newName">
                    </div> 
                    <div class="form-group">
                        <label>Üst Kategori:</label>
                        <select class="form-control" ng-model="newParent" >
                            <option value="" selected></option>
                            <option value="{{cat.id}},{{cat.name}}" ng-repeat="cat in categoryFromClient" > 
                                {{cat.name}} 
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button ng-click="newList()" class="btn btn-info">Kaydet</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>