body {
    background: $bcg;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

.copyright{
    position: absolute;
    bottom: 5px;
    left: 10px;
    a{
        color: #7b7b7b;
        margin: 0 7px;
        font-size: 13px;
        opacity: .8;
        img{
            height: 25px;
        }
        &:hover{
            text-decoration: none;
        }
    }
}

#errorbox{
    width:100%; 
    background:#AD1313; 
    position: fixed; 
    bottom: 0; 
    left:0;  
    color: #ffffff; 
    font-size: 15px; 
    font-weight: 400; 
    padding: 30px 0; 
    text-align:center;
    z-index:999 
}

#correctbox{
    width:100%; 
    background:#3EAA5F; 
    position: fixed; 
    bottom: 0; 
    left:0; 
    color: #ffffff; 
    font-size: 15px; 
    font-weight: 400; 
    padding: 30px 0; 
    text-align:center; 
    z-index:999
}
.sol-frame {
    width: $sol-frame-width;
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.main-body {
    width: 100%;
    padding-left: $sol-frame-width;
    display: inline-block;
}

.nav {
    width: 100%;
    height: 100vh;
    background: $main--purple;
    position: relative;
    .logo {
        position: relative;
        margin: 15px 0;
        img {
            width: 100px;
            background: #fff;
            border-radius: 100px;
            min-height: 100px;
            display: block;
            margin: 0 auto;
        }
    }
    ul {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        li {
            width: 100%;
            display: block;
            text-align: center;
            padding: 20px 0;
            a {
                color: #fff;
                font-size: 15px;
                font-weight: 700;
                opacity: .79;
                text-align: center;
                svg {
                    width: 34px;
                    height: 34px;
                    display: block;
                    margin: 15px auto 7px;
                }
                &:hover {
                    text-decoration: none;
                    opacity: .5;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    z-index: 9999;
    width: 50%;
    min-height: 300px;
    background: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    display: none;
    .load2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30px;
    }
    ul {
        padding: 20px;
        li {
            width: 33%;
            display: inline-block;
            box-shadow: 0 0 0 1px #ccc;
            padding: 10px 5px;
            float: left;
            height: 121px;
            span {
                display: block;
                margin-left: 10px;
                small {
                    padding: 0 7px;
                }
            }
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 999;
    background: rgba(0, 0, 0, .67);
    display: none;
    cursor: pointer;
}

.giris-content{
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    .logo{
        position: absolute;
        top: 20px;
        width: 200px;
        left: 20px;
    }
    .giris-sol{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        overflow: hidden;
       
        img{
            width: 240%;
        }
    }
    #kayit-giris-sol{
        img{
            width: 90%;
        }
    }
}

#kayitform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    min-width: 300px;
    max-width: 500px;
    color: #fff;
    border-radius: 7px;
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        color: #204056;
        font-weight: 800;
        padding: 0 20px;
    }
    form {
        background : #F1F3F5;
        padding: 20px;
        margin: 40px 0; 
        input { 
            margin: 10px 0; 
        }
        button {
            margin: 10px 0;
            width: 100%;
            font-weight: 600;
            text-transform: uppercase;
            background: #34B3A0;
        }
    }
    a{
        position:absolute; 
        bottom: 5px; 
        left:50%; 
        transform: translateX(-50%); 
        color:#454545;
    }
}

.input-danger {
    border: 2px solid #ce0101;
}

.button-passive {
    opacity: .7;
    pointer-events: none;
}

.logout{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 9;
    color: rgb(238, 107, 107);
    cursor: pointer;
    svg{
        width: 25px;
        height: 25px;
        fill: #ddd;
    }
}
.profile-control {
    position: relative; 
    width: 100%;
    min-height: 200px;
    background: #44526A;
    .profile{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        img{ 
            display: block;
            position: relative;
            margin: 15px auto 0;
            height: 130px;
            border-radius: 100px;
            border: 7px solid #F9F9FB;
        }
        span{
            color: #fff;
            font-size: 23px;
            text-align: center;
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 500;

        }
        small{
            display: block;
            font-size: 14px;
            display: block;
            opacity: .75;
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 500;
            color: #ddd;
           margin-top: 5px;
        }
    }
    
}
#changePassword{
        form{
            margin: 100px 0  20px !important;
        }
}
#changePassword, #changeUsername{
    
    form{
        width: 100%;
        margin: 0px 0 50px;
        h3{
            font-size: 20px;
            margin: 30px 0;
            padding: 15px 0;
            border-bottom: 2px solid rgba(0,102,153, .4);
        }
        .input-group{
            width: 100%;
            margin: 15px 0;
        }
        input{
            width: 100%;
        }
        .btn{
            margin: 15px 0;
            background: #3EAA5F;
            color: #fff;
            float: right;
        }
    }
}
#profile {
    position: relative;
    width: 90%;
    margin: 0 auto;
    h3 {
        display: inline-block;
        margin-right: 10px;
    }
    .profileul {
        li {
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
            small {
                b {
                    color: #7b7b7b;
                    font-weight: 400;
                    width: 100px;
                    display: inline-block;
                }
            }
        }
    }
    p {
        position: absolute;
        top: 5px;
        right: 50px;
        color: #006699;
        cursor: pointer;
    }
}

#urunler {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
    h3 {
        display: inline-block;
        margin-right: 10px;
    }
    textarea {
        height: 100px;
        resize: none;
    }
    #ozellikEkle {
        position: absolute;
        top: 5px;
        right: 10px;
        color: #006699;
    }
}

#ozellikler {
    position: relative;
    width: 100%;
    display: block;
    margin: 50px auto;
    .btnGroup {
        position: absolute;
        top: 0px;
        right: 0px;
        color: #006699;
        cursor: pointer;
        a {
            margin: 0 10px;
            display: inline-block;
            color: #4CA3E3;
            font-size: 15px;
            font-weight: 600;
            &:first-child{
                border: 1px solid #204056;
                border-radius: 100;
            }
            &:hover{
                text-decoration: none;
            }
        }
    }
}

#kategoriler {
    margin-top: 20px;
    h3{
        font-size: 30px;
        font-weight: 600;
        i{
            margin-right: 10px;
            color: #ADB4CC;
        }
    }
    .btnGroup {
        position: absolute;
        top: 0px;
        right: 0px;
        color: #006699;
        cursor: pointer;
        a {
            margin: 0 10px;
            display: inline-block;
            color: #4A4BA7;
            font-size: 15px;
            font-weight: 400;
            padding:  4px 15px 5px;
            border-radius: 50px;
            
            &:first-child{
                border: 1px solid #4A4BA7;
            }
            &:hover{
                text-decoration: none;
            }
        }
    }
    #addParam{
        position: absolute;
        top: 20px;
        right: 30px;
    }
    .left-col {
        box-shadow: 1px 0 0 0 #ccc;
        p {
            small {
                b {
                    color: #7b7b7b;
                    font-weight: 400;
                    width: 200px;
                    display: inline-block;
                }
            }
        }
        span {
            b {
                color: #7b7b7b;
                font-weight: 400;
                width: 200px;
                display: inline-block;
            }
        }
        ul {
            li {
                label {
                    display: inline-block;
                    width: 47.3%;
                    box-shadow: 0 0px 1px 1px #ccc;
                    padding: 10px;
                    pre {
                        background: #f0f0f0;
                    }
                }
            }
        }
    }
    .right-col {
        p {
            cursor: pointer;
            float: right;
        }
        #form {
            position: relative;
            width: 90%;
            margin: 0 auto;
            display: block
        }
    }
    #form{
        width: 85%;
        margin: 40px auto;
        padding: 40px 30px 30px;
        background: #fff;
        box-shadow: 0 10px 20px rgba(204,204,204, .3);
        border-radius: 10px;

        button{
            background: #3AB782;
            text-transform: uppercase;
            margin-left: calc(100% - 71.55px);
        }
    }
}



.lists-list{
    width: 85%;
    margin: 40px auto;
    display: block;
    .table>thead{
        th{
            font-weight: 600;
            color: #999999;
            margin-left: 15px;  
        }
    }
    td{
        vertical-align: middle !important;
    }
    .table>tbody{
        border: none;
        padding: 40px 30px;
        box-shadow: 0 10px 20px rgba(204,204,204, .9);
        border-radius: 10px;
        border-top: 20px solid white;
        border-bottom: 20px solid white;
        border-left: 40px solid white;
        border-right: 40px solid white;
        background: #ffffff;
    }
    #modelara{
        margin: 0 0 30px;
        background: transparent;
        border:none;
        border-bottom: 1px solid #2B2C5F;
        box-shadow: 0 0 0 transparent;
        border-radius: 0;
        width: 300px;
        float: right;
    }
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 999;
    background: #2B2C5F;
    padding: 50px;
    border-radius: 140px;
    svg{
        height: 70px;
        width: 70px
    }
}