

// Colors
$main--purple : #2A2B60;
$title--color : #292929;
$bcg : #F9F9FB;



// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800,900&subset=latin-ext');




// Variables
$sol-frame-width : 125px;