<div class="sol-frame">
    <div class="nav">
        <div class="logo">
            <img src="" alt="">
        </div>
        <ul>
            <li>
                <a ui-sref="profil">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="512px" height="512px">
                        <path d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951  c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319  c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056  v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309  c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043  C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164  l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22  C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021  C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298  C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713  c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776  C49.513,45.874,51,48.28,51,50.957V54z"
                            fill="#FFFFFF" />
                        <g>
                    </svg>
                    PROFİL
                </a>
            </li>
            <li>

                <a ui-sref="kategoriler">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px">
                        <g>
                            <path d="M208,0H16C7.163,0,0,7.163,0,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V16C224,7.163,216.837,0,208,0z      M192,192H32V32h160V192z"
                                fill="#FFFFFF" />
                            <path d="M496,0H304c-8.837,0-16,7.163-16,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V16     C512,7.163,504.837,0,496,0z M480,192H320V32h160V192z"
                                fill="#FFFFFF" />
                            <path d="M208,288H16c-8.837,0-16,7.163-16,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V304     C224,295.163,216.837,288,208,288z M192,480H32V320h160V480z"
                                fill="#FFFFFF" />
                            <path d="M496,288H304c-8.837,0-16,7.163-16,16v192c0,8.837,7.163,16,16,16h192c8.837,0,16-7.163,16-16V304     C512,295.163,504.837,288,496,288z M480,480H320V320h160V480z"
                                fill="#FFFFFF" />
                        </g>
                    </svg>
                    KATEGORİLER
                </a>

            </li>
            <li>
                <a ui-sref="urunler">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3025 313 22.778 24.741">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fff;
                                }
                            </style>
                        </defs>
                        <g id="package" transform="translate(-3043.8 313)">
                            <path id="Path_6" data-name="Path 6" class="cls-1" d="M41.567,5.833a.648.648,0,0,0-.063-.277.605.605,0,0,0-.423-.334L30.445.063a.631.631,0,0,0-.548,0L19.155,5.269a.629.629,0,0,0-.355.543V18.9a.622.622,0,0,0,.355.564L29.9,24.673c.005,0,.005,0,.01.005a.185.185,0,0,1,.047.021c.005,0,.01.005.021.005l.047.016c.005,0,.01.005.016.005s.037.005.052.01h.016c.021,0,.047.005.068.005a.3.3,0,0,0,.068-.005h.016a.185.185,0,0,0,.052-.01c.005,0,.01-.005.016-.005l.047-.016c.005,0,.01-.005.021-.005a.185.185,0,0,0,.047-.021c.005,0,.005,0,.01-.005l10.773-5.222a.632.632,0,0,0,.355-.564V5.849C41.567,5.843,41.567,5.838,41.567,5.833Zm-11.4-4.512,9.316,4.517L36.053,7.5,26.737,2.987Zm0,9.034L20.852,5.838,25.3,3.681,34.617,8.2ZM20.053,6.846l9.488,4.6v11.66l-9.488-4.6ZM30.795,23.107V11.446l4.454-2.162v3.05a.627.627,0,0,0,1.253,0V8.674l3.812-1.849v11.66Z"
                            />
                        </g>
                    </svg>

                    ÜRÜNLER
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-body">

        <div ng-click="closeerror()" ng-show="errorbox" style="width:100%; background:#AD1313; position: fixed; bottom: 0; left:0; color: #ffffff; font-size: 15px; font-weight: 400; padding: 30px 0; text-align:center;">
               Tekrar Girdiğiniz Şifre Hatalı.
            </div>
            
            <div ng-click="closeerror()" ng-show="validerrorbox" style="width:100%; background:#AD1313; position: fixed; bottom: 0; left:0; color: #ffffff; font-size: 15px; font-weight: 400; padding: 30px 0; text-align:center;">
                {{validerror}}
            </div>

            <div ng-click="closeerror()" ng-show="correctbox" id="correctbox">
                    Düzenleme İşlemi Başarılı !
                </div>


    <b ng-click="logoutUser()" class="logout">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px"
            y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve" width="512px"
            height="512px">
            <g>
                <g>
                    <path d="M505.651,243.741l-54.782-38.622c-9.916-6.99-23.644,0.116-23.644,12.26v77.242c0,12.194,13.757,19.227,23.643,12.26    l54.782-38.621C514.129,262.282,514.106,249.704,505.651,243.741z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M430.46,352.315c-7.169-4.146-16.346-1.698-20.495,5.474c-35.236,60.915-101.1,101.807-176.367,101.807    C121.334,459.597,30,368.263,30,256.001S121.334,52.404,233.597,52.404c75.317,0,141.153,40.932,176.366,101.806    c4.148,7.172,13.327,9.619,20.495,5.474c7.171-4.148,9.621-13.324,5.474-20.495C395.408,69.133,319.721,22.404,233.597,22.404    C104.487,22.404,0,126.88,0,256.001c0,129.11,104.476,233.596,233.597,233.596c86.161,0,161.829-46.762,202.337-116.787    C440.081,365.639,437.631,356.464,430.46,352.315z"
                    />
                </g>
            </g>
            <g>
                <g>
                    <path d="M164.192,241.001c-8.284,0-15,6.715-15,15c0,8.284,6.716,15,15,15h233.031v-30H164.192z" />
                </g>
            </g>

        </svg>
    </b>
    <div class="profile-control">
        <div class="profile">
            <span>{{ UserFromIdResult.real_name }}</span>
            <small> @{{ UserFromIdResult.username}}</small>
            <small> {{ UserFromIdResult.email}}</small>
            <small> {{MembershipStartDate}} </small>
            <img src="{{useGravatar}}" alt="">
        </div>
    </div>

    <div id="changePassword">
        <div class="col-lg-8 col-lg-offset-2">
            <form>
                <h3> Şifreyi Değiştir </h3>
                <div class="input-group">
                    <label> Eski Şifre </label>
                    <input ng-model="o_pass" type="password" class="form-control" value="">
                </div>
                <div class="input-group">
                    <label> Yeni Şifre </label>
                    <input ng-model="n_pass" type="password" class="form-control" value="">
                </div>
                <div class="input-group">
                    <label> Yeni Şifre Tekrar</label>
                    <input ng-model="n_r_pass" type="password" class="form-control" value="">
                </div>
                <div class="input-group">
                     <button ng-click="changePassword()" class="btn"> Değiştir </button>
                </div>
            </form>
        </div>
    </div>

    <div id="changeUsername">
            <div class="col-lg-8 col-lg-offset-2">
                <form>
                    <h3> Kullanıcı Adını Değiştir </h3>
                    <div class="input-group">
                        <label> Kullanıcı Adı </label>
                        <input ng-model="u_username" type="text" ng-init="u_username = {{ UserFromIdResult.username}}" class="form-control" value="{{ UserFromIdResult.username}}">
                    </div>
                    <div class="input-group">
                        <label> Şifreniz </label>
                        <input ng-model="u_pass" type="password" class="form-control" value="">
                    </div>
                    <div class="input-group">
                         <button ng-click="changeUsername()" class="btn"> Değiştir </button>
                    </div>
                </form>
            </div>
        </div>

    <div style="display:none;" id="profile">

        <h3>{{mesaj}}</h3>

        <img height="20px" src="https://q4widgets.q4web.com/news/img/loader.gif" alt="" ng-show="load">

        <ul ng-show="ul" class="profileul">
            <li ng-repeat="item in queryResult" ng-if="item.is_active == true">

                <small>
                    <b>id :</b> {{item._id}} </small>
                <br>

                <span>
                    <b>
                        USERNAME : </b>
                    <input ng-model="eusername" ng-init="eusername = item.username" type="text" value="{{item.username}}">
                </span>
                <br>

                <span>
                    <b>
                        PASSWORD : </b>
                    <input ng-model="epass" ng-init="epass = item.password" type="text" value="{{item.password}}">
                </span>
                <br>

                <span>
                    <b>
                        TOKEN KEY : </b> {{item.token.key}}
                </span>
                <br>

                <span>
                    <b>
                        LOGİN : </b> {{item.login}}
                </span>
                <br>

                <button class="btn btn-info" ng-click="editUser(eusername, epass)" token="{{item.token.key}}">Düzenle</button>

                <button class="btn btn-danger" ng-click="removeUser()" token="{{item._id}}">Sil</button>
            </li>
        </ul>



    </div>
</div>